body{
    background-color: cornflowerblue;
    font-size: 20px;

}
/*pseudo classes*/

.blauwe:hover{
    font-weight: bold;
    color: cyan;
    
}

.rode:active{
    color: red;
    font-style: italic;
}

.gele:visited{
    color: yellow;
}

.groen-input:focus{
    font-size: 30px;
    color: green;
}

nav{
    background-color: blue;
    color: white;
    display: flex;
}

nav ul{
    background-color: grey;
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none;
}

nav li:first-child{
    margin-left: 0;
}

nav li{
    margin: 0 30px;
    background-color: rgb(86, 53, 233);
    padding: 5px;
}

nav li:hover{
    background-color: licht rgb(132, 132, 151);
    color: black;
}

nav li:last-child{
    margin-right: 0;
}

.home{
    background: brown;
    color: black;
}

form input{
    font-weight: bold;
    border: 1px solid red;
}